*{
    color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}


body, h1, h2, h3, p{
    margin:0;
}

section>*{
    padding: 20px;
}

.column-container{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    flex-basis: auto;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: auto;
    flex-wrap: wrap;
}  

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    color: antiquewhite;
    background: black;

}
#canvas1{
    top: 0;
    left: 0;
    position:fixed;
    filter: blur(5px);
    background: black;
    z-index: -99;
}

header{
    text-align: center;
}

nav {
    background-color: transparent;
    overflow: hidden;
    font-weight: bolder;
    margin-top: 2vh;
}

nav a {
    float: left;
    display: block;
    color: white;
    opacity: 0.5;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
    opacity:1;
}
