*{
    color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}


body, h1, h2, h3, p{
    margin:0;
}

.background{
    background-image: url(cafe92_2.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(5px);
    position: fixed;
    z-index: -1;
    overflow: hidden;
}

section>*{
    padding: 20px;
}

#socials-insta{
    padding-top: 6px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    filter: invert(1);
    opacity:0.3;
}

#socials-insta:hover{
    filter:invert(0);
    opacity:1;
}

#socials-linkedin{
    padding-top:6px;
    padding-bottom:3px;
    padding-right: 7px;
    padding-left: 7px;
    filter:invert(1);
    opacity:0.3;
}#socials-linkedin:hover{
    filter:invert(0);
    opacity:1;
}

.column-container{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    flex-basis: auto;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: auto;
    flex-wrap: wrap;
}  

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-y: hidden;
    overflow-x: hidden;
    color: antiquewhite;
    background: black;

}

header{
    text-align: center;
}

nav {
    background-color: transparent;
    overflow: hidden;
    font-weight: bolder;
    margin-top: 2vh;
}

nav a {
    float: left;
    display: block;
    color: white;
    opacity: 0.5;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
    opacity:1;
}
.from, .email{
    resize: none;
    width:30%;
    height: 50px;
    border:#666;
    outline:invert;
    background-color: antiquewhite;
    padding-left: 25px;
    padding-top:15px;
    padding-right: 25px;
    font-weight:500;
    font-size: 30px;
    text-align: left;
    color:#232323;
    border-radius:50px;
}

.Send-button{

    align-items: center;
    padding:15px 30px;
    font-size:16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background: #0087ca;
}

.message{
    resize: none;
    width:40%;
    height:200px;
    background-color: antiquewhite;
    border:#666;
    outline:invert;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    font-weight:500;
    font-size: 20px;
    text-align: left;
    color:#232323;
    border-radius:25px;
}

@media screen and (max-width:600px){
    .from, .email{
        width: 50%;
        height: 20px;
        font-size: 15px;
        padding-top: 5px ;
    }
    .message{
        width: 60%;
    }
}

input:focus{
    border: 2px solid;
}

.center{
    text-align: center;
    align-items: center;
}

#from {
    width: 160px;
    height: 15px;
  }
