*{
    color:black;
    font-family: 'Courier New', Courier, monospace;
}

html{
    color:white;
}

body, h1, h2, h3, p{
    margin:0;
}

.background{
    background-image: url("/images/table-tennis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(8px);
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;
  }
section>*{
    padding: 20px;
}

.column-container{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    flex-basis: auto;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-basis: auto;
    flex-wrap: wrap;
}  

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow: hidden;
    color: antiquewhite;
    background: black;
}

header{
    text-align: center;
}

nav {
    background-color: transparent;
    overflow: hidden;
    font-weight: bolder;
    margin-top: 2vh;
}

nav a {
    float: left;
    display: block;
    color: black;
    opacity: 0.5;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: white;
    opacity:1;
}